section.youtube
  .flex.flex--space-around
    .col-1.flex--center
      .video-strip
      .flex-video
        iframe(width='560', height='315', src='https://www.youtube.com/embed/EWQF91YETFM?ecver=1', frameborder='0', allowfullscreen='')
    .col-1.order-first
      p.home-lead.outdented ...teaching everyone how to make websites on Youtube
      a(href="http://youtube.com").home-cta Watch on Youtube
