section.podcast
  .flex.flex--center
    .col-2
      p.home-lead ...and Podcasting with friends.
      
      .podcast-content
        .podcast-thumb
          img(src="assets/img/podcast-thumb.png")
        
        .podcast-text
          .date 18 January 2017
          .title Let's Talk About Life and Junk
          .player 
            <iframe width="600" height="30" frameborder="0" scrolling="no" src="https://www.wnyc.org/widgets/ondemand_player/radiolab/#file=%2Faudio%2Fxspf%2F726626%2F"></iframe>
            
  .flex.flex--center.col-wrap
    .col-1
      a(href="").home-cta.web Website
      
    .col-1
      a(href="").home-cta.itunes Itunes
      
